body {
    width: 250px;
    text-align: center;
    background-color: rgb(205, 245, 245);
}

.center {
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style: none;
    text-align: left;
    margin-top: 10px;
    padding-left: 0;
}

button {
    background: #b7b7ff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

#emailList {
    margin-top: 20px;
}

#downloadButton {
    display: none;
}

#previewContainer {
    display: none;
}